.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs .name {
    color: white;
}
.dialogsItems {
padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.name {
    color: white;
}

.messages .message {
    padding: 10px;
    color: white;
}