.dialogs {
display: grid;
    grid-template-columns: 2fr 9fr ;
}

.dialogsItems {
padding-left: 10px;
}

.messages .message {
    padding: 10px;
    color: white;
}
.navlink {
    color: antiquewhite;
    padding: 10px;
}
.img {
    width: 50px;
    border-radius: 10px;
}
.text {
    display: grid;
    grid-column-start: 2;
    width: 200px;
}
.button {
    display: grid;
    grid-column-start: 2;
    width: 50px;
}