.nav { padding: 20px;
    grid-area: n;
    background-color: darkslateblue;
}
.item a{
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: hotpink;
    font-size: 1.5em;
    }
.item a.activeLink {
    color: gold;
}
.item a.activeLink:hover {
    color: hotpink;
    font-size: 1.5em;
}
